<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeQuery</title>
    <link rel="stylesheet" href="{{ css_file }}">
</head>
<body>
  <h1>CodeQuery</h1>
  <a href="https://linktr.ee/Utsav_Mandal" target="_blank" class="utsav">by-Utsav Mandal</a>
    <div class="form">
        <form method="POST">
          {{ form.hidden_tag() }} {{ form.query.label }} {{ form.query() }} {{
          form.submit() }}
        </form>
      </div>
      <div>
        {% for result in retval %}
        <a href="{{ result[1] }}" target="_blank">{{ result[0] }}</a>
        <p>Score: {{ result[2] }}</p>
        {% endfor %}
      </div>
</body>
</html>